.card-container {
    width: 300px;
    padding: 10px 0;
    padding-bottom: 60px;
    position: relative;
}

.image-card {
    width: 300px;
    border-radius: 22px;
}

.star {
    width: 30px;
    height: 25px;
    margin-right: 5px;
}
strong {
    margin-right: 4px;
}

.flex-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
}

.description p{
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px;
    margin-top: -6px;
}

.card-badge {
    position: absolute;
    top: 22px;
    left: 16px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 6px;
    font-weight: bold;
}