body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  cursor: default;
  user-select: none;
}
.collage-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.cards-container {
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 80px;
  padding: 0 8vw;
  margin: 100px 0;
  margin-bottom: 20px;
}
